<h2 class="title">Our team</h2>
<p class="subtitle">We have been working on a project for you</p>
<div class="team-container">
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/59070287?v=4" alt="klimentsii photo">
    </div>
    <h4 class="name">Klimentsii</h4>
    <h5 class="position">Team Lead</h5>
    <div class="line"></div>
    <p class="done-description"> Need writing smt</p>
    <app-github githubName="klimentsii"></app-github>
  </div>
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/84023042?v=4" alt="Yuri photo">
    </div>
    <h4 class="name">Yuri</h4>
    <h5 class="position">Developer</h5>
    <div class="line"></div>
    <p class="done-description"> Engaged in the development of authorization, localization, routing, base pages.</p>
    <app-github githubName="Yurichprololz"></app-github>
  </div>
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/8338821?v=4" alt="Alex Sokolov photo">
    </div>
    <h4 class="name">Alesander</h4>
    <h5 class="position">Developer</h5>
    <div class="line"></div>
    <p class="done-description"> Need writing smt</p>
    <app-github githubName="alex--sokolov"></app-github>
  </div>
</div>
