<h2 class="title" i18n="title | welcome @@welcomeTitle">Our team</h2>
<p class="subtitle" i18n="subtitle | welcome @@welcomeSubTitle">We have been working on a project for you</p>
<div class="team-container">
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/59070287?v=4" alt="klimentsii photo">
    </div>
    <h4 class="name" i18n="name | welcome @@klimentsiiName">Klimentsii</h4>
    <h5 class="position" i18n="position | welcome @@positionLead">Team Lead</h5>
    <div class="line"></div>
    <p class="done-description" i18n="description | welcome @@klimentsiiDescription"> Need writing smt</p>
    <app-github githubName="klimentsii"></app-github>
  </div>
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/84023042?v=4" alt="Yuri photo">
    </div>
    <h4 class="name" i18n="name | welcome @@yuriName">Yuri</h4>
    <h5 class="position" i18n="position | welcome @@positionDev">Developer</h5>
    <div class="line"></div>
    <p class="done-description" i18n="description | welcome @@yuriDescription"> Engaged in the development of authorization, localization, routing, base pages.</p>
    <app-github githubName="Yurichprololz"></app-github>
  </div>
  <div class="developer">
    <div class="avatar-container">
      <img class="avatar" src="https://avatars.githubusercontent.com/u/8338821?v=4" alt="Alex Sokolov photo">
    </div>
    <h4 class="name" i18n="name | welcome @@alexName">Alexander</h4>
    <h5 class="position" i18n="position | welcome @@positionDev">Developer</h5>
    <div class="line"></div>
    <p class="done-description" i18n="description | welcome @@alexDescription"> Need writing smt</p>
    <app-github githubName="alex--sokolov"></app-github>
  </div>
</div>
