<form class="confirmation">
  <div mat-dialog-content>
    <h4 mat-dialog-title i18n="@@CreateItemModalNew">Create new {{data}}</h4>
    <mat-form-field appearance="fill">
      <mat-label i18n="@@CreateItemModalTitle">Title</mat-label>
      <input matInput [(ngModel)]="input" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" cdkFocusInitial i18n="@@CreateItemModalCancel">Cancel</button>
    <button mat-button [mat-dialog-close]="input" i18n="@@CreateItemModalCreate">Create <mat-icon>check</mat-icon></button>
  </div>
</form>
