<footer>
  <div class="container">
    <div class="footer-inner">
      <div class="footer-nav footer-nav_school">
        <a href="https://rs.school/angular/"><button mat-raised-button color="primary"><img src="/assets/rs-logo.png" alt="" style='border-radius: 0;'></button></a>
        <span class="year">2022</span>
      </div>
      <div class="footer-nav">
        <a target="_blank" href="https://github.com/klimentsii"><button mat-raised-button color="primary"><img src="https://avatars.githubusercontent.com/u/59070287?v=4" alt=""> <span class="gh-name">klimentsii</span> </button></a>
        <a target="_blank" href="https://github.com/Yurichprololz"><button mat-raised-button color="primary"><img src="https://avatars.githubusercontent.com/u/84023042?s=64&v=4" alt=""> <span class="gh-name">Yurichprololz</span></button></a>
        <a target="_blank" href="https://github.com/alex--sokolov"><button mat-raised-button color="primary"><img src="https://avatars.githubusercontent.com/u/8338821?v=4" alt=""> <span class="gh-name">Alex Sokolov</span></button></a>
      </div>
    </div>
  </div>
</footer>
