/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Fredoka One';
  src: url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: beige;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
}

.cursor-loader {
  cursor: wait;
  background: (0,0,0, 0.7);

  * {
    cursor: wait !important;
  }
}
