@import '../../../../styles/mixin.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  max-height: 90%;
  margin-top: 100px;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #e5e5e5;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;

  @include mobile {
    max-width: 170px;
    margin: 10px;
  }
}
.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

 .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
 .example-full-width,
 .btn-block {
  width: 100%;
}
 mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
 mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}
 .mat-card {
  padding: 40px 70px 50px;
}
.mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: transparent;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
