@import "../../../../styles/colors";

.profile {
  margin: 50px;

  .page-title {
    font-size: 24px;
    line-height: 30px;
    color: #252525;
  }

  .user-info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div {
      min-height: 40px;
      width: 33%;

      .edit-container {
        display: flex;
        align-items: flex-end;
        width: 100%;

        mat-icon {
          &.edit-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            border: none;
            z-index: 10;
            border-radius: 50%;
            transition: all 0.3s;
            background-color: $color1;
            height: 40px;
            width: 40px;
            box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
            padding: 0;

            &:hover {
              cursor: pointer;
              color: $color1;
              background-color: $color3;
            }
          }
        }

        h2 {
          width: 200px;
          margin-bottom: 0;
        }

      }

      .form-control {
        width: 200px;
        border: 0;
        box-sizing: border-box;
        background-color: transparent;
        font-size: 20px;
        line-height: 26px;
        border-bottom: 1px solid #999;

        &:focus-visible {
          outline: 0;
        }
      }

    }
  }
}


.profile-field-name {
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

@media (max-width: 1240px) {
  .profile {
    .user-info {
      flex-wrap: wrap;

      div {
        width: 50%;

        &.id-container {
          margin-top: 40px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .profile {
    .user-info {
      div {
        width: 100%;

        &.email-container {
          margin-top: 40px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .profile {
    .user-info {
      div {
        .edit-container {
          h2 {
            width: 150px;
            margin-bottom: 0;
          }
        }

        .form-control {
          width: 150px;
        }
      }
    }
  }
}


