<header>
  <div class="header-container container">
    <div class="header-inner">
      <nav class='header-nav'>
        <button mat-raised-button color="primary" routerLink="/"><mat-icon>assessment</mat-icon></button>
        <button mat-raised-button color="primary" routerLink="boards">Boards</button>

        <mat-button-toggle-group>
          <mat-button-toggle value="en">en</mat-button-toggle>
          <mat-button-toggle value="ru">ru</mat-button-toggle>
        </mat-button-toggle-group>
      </nav>

      <nav class='header-nav'>
        <button mat-raised-button routerLink="auth/sign-in" *ngIf="true" color="primary">Sign in</button>
        <button mat-raised-button routerLink="auth/sign-up" color="primary">Sign up</button>
        <button mat-raised-button routerLink="profile" *ngIfElse="" color="primary"><mat-icon>account_circle</mat-icon></button>
        <button mat-raised-button routerLink="" *ngIfElse="" color="primary"><mat-icon>exit_to_app</mat-icon></button>
      </nav>
    </div>
  </div>
</header>
