<section class="board">
  <div class="container">
    <div class="board-inner">

      <mat-card class="board-item" *ngFor="let item of db">
        <mat-card-title>{{item.value}}</mat-card-title>
        <div class="mat-card-controls">
          <div class="delete">
            <button class="board-item-button" *ngIf="item.deleteButton" (click)="changeDeleteBoardState(item.value)">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button class="board-item-button" (click)="deleteBoard(item.value)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <button class="board-item-button">
            <mat-icon>launch</mat-icon>
          </button>
        </div>
      </mat-card>


      <button *ngIf="newBoardState" mat-button class="board-item" (click)="changeState()">
        <mat-icon>add</mat-icon>
      </button>

      <form [formGroup]="newBoardForm" (ngSubmit)="createNewBoard()" *ngIf="!newBoardState" class="board-item">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name of board</mat-label>
          <input (input)="chooseTitleError()" type="text" matInput formControlName="title" matInput placeholder="Ex. Projects">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="myselfError">
            {{errorTitle}}
          </mat-error>
        </mat-form-field>

        <div class="mat-card-controls">
          <button class="board-item-button" (click)="changeState()"><mat-icon>arrow_back</mat-icon></button>
          <button class="board-item-button" type="submit"><mat-icon>check</mat-icon></button>
        </div>
      </form>
    </div>
  </div>
</section>
